# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rober\Downloads\Ex_Files_Spring_Framework_Depth\Ex_Files_Spring_Framework_Depth\Exercise Files\Chapter 2\Shapes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
